doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
  body
    block content
    script(src="/javascripts/lib/jquery/jquery.js")
    script(src="/javascripts/lib/lodash/lodash.compat.js")
    script(src="/javascripts/lib/riotjs/jquery.riot.js")
    script(src="/javascripts/lib/requirejs/require.js")
    script(src="/javascripts/tweetList.js")
    script(src="/javascripts/tweetListPresenter.js")
